<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Portfolio Test Suite">
  <test name="Login Tests">
    <classes>
      <!--<class name="com.shejuti.tests.LoginTest"/>-->
      <class name="com.shejuti.tests.HomeTest"/>
    </classes>
  </test>
</suite>